
/* Configuração global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 200vh;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

h3, p {
    padding-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
}

h1 {
    /* Dando espaço no texto e iniciao da borda  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 30px;
    background: red;
    color: white;
    padding-inline-end: 10px;
}
h2 {
    color: red;
    padding-top: 10px;
}

/* Combinador Descendente  */
div h3 {
    color: red;
}

/* Combinador Filho  */
div > p {
    color: red;
}

div + p {
    color: blue;
}

div ~ p {
    color: green;
}

#trilha2 {
    background-color: lightblue;
    width: 150px;
    font-size: medium;
    height: 50px;
}

.exemplo {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: url('../images/professional-challenges.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    background-attachment: fixed;
}

.exemplo2 {
    background-color: red;
    width: 200px;
    height: 200px;
    border: dotted  20px blue ;

}