* {
    /* Adicionado border box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 10px;
    border-radius: 50px;
    color: blue;
}
